body
{
    background-color: #32CD32;
}
button {
    width:35px ;
}
h1 {
color: #778899;
}
p {
    font-size:30pt ;
}
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid
blue;
}